*.iml
.gradle
.idea/sonarlint/
.idea/misc.xml
.idea/gradle.xml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
.DS_Store
/build
/captures
*.log
.externalNativeBuild
.cxx
local.properties
